# Supabase — dapatkan dari: https://supabase.com/dashboard → Project Settings → API
NEXT_PUBLIC_SUPABASE_URL=https://vzptlcfzjgokksnmahdi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ6cHRsY2Z6amdva2tzbm1haGRpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY4NDI3MjgsImV4cCI6MjA5MjQxODcyOH0.flr21kJ4MZLRn2uX99gwrVmDUSoD05cYhK10XnMv9Yg
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ6cHRsY2Z6amdva2tzbm1haGRpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Njg0MjcyOCwiZXhwIjoyMDkyNDE4NzI4fQ.DvyMdChjMfP_w6hGKz0jrW8xKtJcBikWh6VKHpbxt1o

